#top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(222, 215, 215);
}

.left {
    margin-left: 60px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left input {
    width: 552px;
    padding: 8px 12px;
    border: 1px solid rgb(222, 215, 215);
}

.left button {
    background-color: rgb(0, 175, 239);
    color: rgb(255, 255, 255);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0px;
    padding: 9px 25px;
    margin-left: -5px;
}

.left img {
    width: 150px;
    height: 34px;
}

.right {
    margin-right: 60px;
    width: 12%;
    display: flex;
    justify-content: space-around;
}

#bottom_nav {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#bottom_nav div {
    margin-left: 75px;
    display: flex;
    width: 65%;
    justify-content: space-around;
}

#bottom_nav>div p {
    text-transform: uppercase;
    color: rgb(92, 92, 92);
    cursor: pointer;
    font-size: 12.16px;
    font-weight: 600;
}


/* container */


#container {
    display: flex;
    margin-top: 20px;
    margin-left: 120px;
}

.left_container img {
    width: 402px;
    height: 402px;
    margin-right: 20px;
    border: 1px solid rgb(206, 199, 199);
    border-radius: 10px;
}

.right_container {
    line-height: 15px;
}

.right_container img {
    width: 293px;
    height: 70px;
}

.right_container h1 {
    font-size: 23px;
    font-weight: lighter;
}

.right_container h2 {
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}

.right_container p {
    color: rgb(138, 140, 139);
}

#verified {
    width: 16px;
    height: 16px;
    align-items: center;
    margin-left: 5px;
}

#price {
    color: rgb(89, 163, 14);
    font-size: 16px;
    font-weight: bold;
}

#Price{
    color: black;
    font-weight: bold;
}

#carts {
    color: rgb(255, 0, 0);
    font-family: 15px;
}

.right_container a {
    margin-right: 20px;
    color: rgb(63, 195, 243);
}

.star {
    color: rgb(240, 182, 72);
}




/* product_dec */

#product_dec {
    width: 60%;
    margin-left: 120px;
}

#product_dec p {
    color: rgb(138, 140, 139);
    font-weight: 16px;
}

#border {
    height: 10px;
    width: 100%;
    background-color: rgb(242, 242, 242);
    border: 0px;
}

.oil {
    color: rgb(120, 116, 116);
    font-weight: bold;
}

/* benefit */

#benefit {
    width: 60%;
    margin-left: 120px;
}

#inner_benefit {
    width: 60%;
    display: flex;
    margin-top: 20px;
    gap: 80px;
}

#benefit h2 {
    text-align: left;
    color: black;
    font-size: 23px;
    font-weight: lighter;
}

#benefit img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

#benefit div {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    text-align: center;
}

#benefit div h3 {
    color: rgb(89, 163, 14);
}

/* ingredient */

#ingredient {
    margin-left: 120px;
}

.first {
    display: flex;
}

.first p {
    border: 1px solid rgb(172, 165, 165);
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
}

.first p:hover{
    background-color: aliceblue;
    color:rgb(51, 51, 204);
}

.ingredient {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    gap: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.ingredient img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.box {
    display: flex;
    align-items: flex-start;
    color: rgb(138, 140, 139);
}

.box span {
    color: rgb(90, 87, 87);
    font-weight: bold;
}

.border {
    height: 10px;
    width: 60%;
    background-color: rgb(242, 242, 242);
    border: 0px;
}

/* rating */

#review_rating {
    width: 60%;
    margin-left: 10%;
    margin-top: 20px;
}

/* Div=line1 */
#line1 {
    display: flex;
    justify-content: space-between;
}

/* title of review */
#Tit {
    display: flex;
}

#Tit>p:nth-child(1) {
    color: rgb(29, 29, 29);
    font-size: 24px;
    letter-spacing: 0.18px;
    font-weight: 600;
}

#Tit>img {
    margin-left: 10px;
}

/* only verified user */
#Tit>p:nth-child(3) {
    color: rgb(138, 140, 139);
    font-size: 14px;
    margin-top: 30px;
    margin-left: 4px;
}

/* Rate Button */
#rate_btn {
    border: 2px solid rgb(0, 174, 239);
    border-radius: 4px;
    color: rgb(0, 174, 239);
    background-color: white;
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
}

/* full rating block */
#full_rating_block {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

/* left_block */
#left_block {
    margin-top: -40px;
}

#left_block>p:nth-child(1) {
    font-size: 40px;
    color: rgb(29, 29, 29);
}

#left_block>p:nth-child(2) {
    font-size: 15px;
    color: rgb(138, 140, 139);
    margin-top: -30px;
}

#left_block>p:nth-child(3) {
    font-size: 15px;
    color: rgb(138, 140, 139);
    margin-top: -15px;
}

/* right block */
#right_block {
    display: block;
    column-gap: 0px;
}

#stars {
    display: flex;
    margin-top: -25px;
}

#stars>p {
    color: #777777;
}

#review_bar {
    width: 160px;
    height: 10px;
    border-radius: 4px;
    margin: 0 10px;
}

.bar {
    width: 100%;
    height: 100%;
    appearance: none;
    border: none;
    margin-top: 22px;
}

.bar[value]::-webkit-progress-bar {
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
}

.bar[value]::-webkit-progress-value {
    border-radius: 4px;
    filter: drop-shadow(0px 3px 3px rgb(129, 195, 65));
    background-color: rgb(129, 195, 65);
}

/* cust_review */

#cust_review {
    border-bottom: 1px solid #a19f9f;
}

#cust_review>p {
    margin-top: -25px;
}

#cust_1 {
    display: flex;
    gap: 10px;
}

#cust_1>p {
    font-size: 40px;
    color: white;
    background-color: rgb(206, 55, 93);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

#cust_1>div>p {
    font-weight: 500;
    padding-right: 4px;
    margin: 0px 0.2rem;
    color: rgb(138, 140, 139);
    margin-top: 40px;
}

#rating {
    display: flex;
    margin-top: -10px;
}

#rating>p:nth-child(1) {
    color: white;
    background-color: rgb(129, 195, 65);
    width: 40px;
    border-radius: 10px;
    padding: 2px;
    margin-right: 10px;
}


/* disclaimer */

#disclaimer{
    margin-left: 120px;
    margin-top: 30px;
}

p{
    color: rgb(92, 92, 92);
}

ol{
    color: rgb(92, 92, 92);
    line-height: 8px;
}

#disclaimer h2{
    text-align: center;
    text-transform:uppercase ;
    border-bottom: 1px solid rgb(219, 211, 211);
    margin-left: 30px;
    width: 85%;
}
