@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Lato:wght@300;400&family=Poppins:wght@200;600&family=Roboto+Mono:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Lato',sans-serif;
}
.head1{
    /* border: 1px solid black; */
    width:100%;
    height: 30px;
    color: #ffffff ;
    font-size: 13px ;
    font-weight: 500;
    /* line-height: 19px;  */
    background-color: #d4424c;
    display: flex;
    justify-content: space-evenly;
}
.head1 div:nth-child(1){
    width:35%;
    /* border: 1px solid black; */
}
.head1 div:nth-child(2){
    width: 35%;
    /* border: 1px solid black; */
}
.head1 div{
    margin: auto;
}
.head1 div:hover{
    text-decoration: underline;
    cursor: pointer;
}
.head2{
    /* border: 1px solid black; */
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;

}
.head2 div{
    /* border: 1px solid red; */
    width: 30%;
    height: 70%;
    margin: auto;
    margin-left: 5%;
    
}
.head2 div:nth-child(1){
    width:12%;
   
}
#logo img{
    width: 100%;
    height: 100%;
}
.head3{
    
    /* border: 1px solid black; */
    width: 100%;
    height: 40px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 6px;
    margin-top: -5px;
    margin-bottom: -25px;


}

    
 
 
.item{
    /* border: 1px solid black; */
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 600;
    width: 70%;
    height: 80%;
    display: flex;
    margin-top: 7px;
    margin-left: 40px;
    text-decoration: none;
    justify-content: space-around;
    list-style-type: none;
}
.item li a{
    color: #5c5c5c;
    text-decoration: none;
}
.mid1{
    /* border: 1px solid rgb(125, 20, 173); */
    width: 85%;
    height:1120px;
    display: flex; 
    margin: auto;
    margin-top: 25px;
}
.user_name{
    /* border: 1px solid rgb(235, 209, 209); */
    height: 40px;
    width: 35%;
}
.add{
    /* border: 1px solid red; */
    width: 750px;
    height:auto;
    display: block;
    margin-top: 50px;
    
    
}
/* #cart{
     border: 1px solid #e6e6e6; 
     border-radius: 4px;
     width: 34rem;
     margin-left: 325px;
     margin-top: 10px;
     
     
    
} */
#heading{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: rgb(29, 29, 29);

}
.container{
    display: flex;
    /* border: 1px solid blue; */
    width: 172%;
    height: 33rem;
    margin-top: -1px;
    
}
#h3{
  
    /* border: 1px solid grey; */
    height: 50px;
    width: 100%;
    margin-left: 5px;
    margin-top: 30px;
}

 .pay_method{
     display: inline-block;
     /* border:1px solid black;  */
     height:300px; 
    width: 25%;
    margin-left: -9px;
    /* margin-top: 50px;
    position: absolute;
    margin-left: -8px;
    margin-bottom: 15px; */
} 
#payment{
    border: 1px solid #e6e6e6;
    height: 500px;
    width: 80%;
    margin-left:10px;
    margin-right: -9px;
    margin-top: 15px;
    border-radius: 5px;
    /* margin-right: 99px; */
}
.btn3{
    
    border-radius: 25px;
    color: rgb(116, 116, 116);
   background-color:  rgb(220, 220, 220);
   border:1px rgb(220, 220, 220);
   text-align: center;
   margin-left: 8px;
   width: 10%;
   height: 35px;
   
   

}
button:focus{
     /* background: rgb(214, 244, 255);  */
    background-color: rgb(214, 244, 255);
    border: 1px solid rgb(0, 174, 239);
    color: rgb(0, 174, 239);

}
.hide{
    display:none;
}
.show{
    display: block;
}
#popup{
    width:100%;
    height: 45px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #dadfe3;
}
#btnP{
    margin-left: 35px;
    margin-top: 25px;
    width: 100%;
    height: 43px;
    border-radius: 5px;
    background-color: #00afef;
    font-weight: 600;
    color: #ffffff;
    font-size: 13.8px;
    line-height: 22.4px;
    letter-spacing: 0.5;
    text-align: center;
    border: none;
}
#easy{
    margin-top: 45px;
   
   
}

 #i1{
    height: 25px;
    margin-left:85px;
}
 
#card{
   margin-left: 55px;
}
#card > img{
    height: 30px;
    margin-left:5px;

}
#details{
    margin-top: 10px;
}
 #mm ,#cv{
    height: 40px;
    width: 20%;
    border-radius: 4px;
    border: 1px solid#d4e0e6;
    text-align: center;
    
 }
#cv{
    margin-left: 100px;
}
#i7{
    margin-left: 25px;
}
#bank img{
    height: 30px;
    margin-left:30px;
}
#bank{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}
#bank h5{
    margin-left: 30px;
    margin-top: 12px;
    font-weight: 600;
    font-weight: bold;
    font-size: medium;
    
}
#online{
    margin-top: 25px;
}
#online img{
    height: 30px;
    margin-left:30px;

}
#para{
    margin-left:25px;
    width: 85%;
    border: 1px solid 
    #1bbb33;
    border-radius: 5px;
    text-align:justify;
    height: 55px;
    font-size: smaller;
    background-color: 
    #e6ffe9;
}
#spn{
    margin-left: 95px;
      
    color:#1bbb33 ;
    border: 1px solid #1bbb33;
    border-radius: 4px;
    background-color: #e6ffe9;
    font-size: smaller;

}
#t1{
    margin-top: 10px;
    justify-content: left;
}
 
#icon{
    margin-top: 15px;
    margin-left: 25px;
}
#term,#cond{
    text-decoration: underline;
}
/* .fa-solid fa-square-check{
    color: #00afef;
} */

#footer .box1{
    display: flex;
}
.box1{
    /* border: 2px solid black; */
    
    padding-top: 1rem;
    
}
.b1{
     /* padding-top: 1rem;   */
    width: 20%;
    text-align: center;
  
    
    
}
.b2{
    width: 80%;
    text-align: center;
    display: flex;
    margin-left: 255px;
    justify-content: space-around;
    
}
.fa-truck, .fa-wallet{
    font-size: 40px;
    
}
.box2 img{
    width: 100%;
}
.box3{
    display: flex;
    justify-content: space-evenly;
}
.box3 img{
    width: 200px;
    height: 300px;
}
.box4{
    text-align: center;
}
.box4 .fa-heart{
    color: rgb(255, 0, 0);
}
.box4 span{
    margin-right: 1rem;
    cursor: pointer;
}
.box5{
    text-align: center;
}


/* new data */
#footerImg{
    background-image: url("https://mamaearthp.imgix.net/wysiwyg/desktop_home_img.png?auto=format");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 420px;
    /* border: 1px solid black; */
}
#footerImg div{
    width: 20%;
    padding-top: 2%;
    margin-left: 60%;
}
#footerImg div h6{
    padding-left: 15%;
    letter-spacing: .4rem;
    font-size: 30px;
    color: #044e04;
}
#footerImg .para{
    width: 35%;
}
#footerImg .knowMore{
    background-image: url('https://mamaearthp.imgix.net/wysiwyg/desktop_cta2x.png?auto=format');
    background-repeat: no-repeat;
    background-size: cover;
    height: 13%;
}




/* -------------------Footer CSS------------------------- */
#footer_wrapper{
    width: 90%;
    margin: 2% auto;
    font-size: 1.3vw;
    padding: 2%;
}
#footer_wrapper>div{
    border: 1px solid #c5c0c0;
}
.service_feature ,.service_f{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3%    ;
}
.service_feature{
    border-bottom: solid 1px #c5c0c0;
}
.service{
    padding: 4%;
    text-align: center;            
}
 .service_icon{
    /* font-size: 2vw; */
    color: greenyellow;
}
.service1{
    border-right: solid 1px #c5c0c0;
}
.query , #rights{
    text-align: center;
    margin: 1%;

}
.query>button{
    background-color: inherit;
    border: 1px solid #26adee;
    padding: 2% 3%;
    border-radius: 5px;
    font-weight: 500;
    color: #26adee;
    font-size: medium;
}
.query>button:hover{
    color: white;
    background: #26adee;
}
#footer_payment{
    display: grid;
    text-align: center;
    margin: 2% auto;
    grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid #c5c0c0;
}
.footer_p >div{
    margin: 2%;
}
.service_icon img{
    /* width: 38px;
    height: 38px; */
    width: 30%;
}
#trust_icon img{
    height: 20px;
}
.pay_img{
    display: flex;
    width: 60%;
    margin: 1% auto;
}
.pay_img>div{
    margin: 3%;
}
.pay_img img{
    /* width: 50%; */
    width: 60px;            
}
#certification{
    width: 50%;
    margin: 7% auto;
    display: flex;
    gap: 11%;
}
#certification img{
    width: 50px;
    /* width: 30%; */
}
#footer_nav{
    width: 90%;
    margin:2% auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
}
#footer_nav>div a{
    text-decoration: none;
    color: black;
    margin: 50px 1%;
}
#footer_nav>div>div{
    margin: 7% 1%;
}
#brand> img{
    margin-top: 30px;
    width: 60%;
}

#social_count{
    text-align: center;
    border-bottom: 1px solid #c5c0c0;
    border-top: 1px solid #c5c0c0;
    /* font-size: 2vw; */
}
#heart_icon{
    color: red;
}
#footer_social_icons{
    font-size: 2.5vw;
    width: 50%;
    margin: 2% auto;
}
#footer_social_icons>div
{
    display: inline-block;
    margin-left:3%;
} 
@media screen and (min-width:768px) and (max-width:1000px) {
    #footer_nav{
        grid-template-columns: repeat(3,1fr);
    }
    #brand{display: none;}

    
}
@media screen and (min-width:0px) and (max-width:768px) {
    #footer_nav{
        display: none;
    }
    #certification{
        width: 90%;
    }
    #certification img{
        width: 40px;
    }
    #footer_wrapper{
        font-size: 2.5vw;
    }
    #footer_social_icons{
        font-size: 4vw;
    }
    .pay_img img{width: 40px;}
}
@media screen and (min-width:0px)  and (max-width:1000px){
    #footer_payment{
        display: block;
    }
    .service_f{border-bottom: 1px solid #c5c0c0;}
    .footer_p >div{margin: 0.5%;}
    #certification{margin: 1% auto;}
    .service_f{grid-template-columns: repeat(4,1fr);}
    .service_feature{display: block;}
    
}

    
