.container-fluid img{
    width: 40%;
}
.form-control{
    width: 30pc;
}
.nav-item{
    padding-left: 5rem;
}
.fa-carticon{
    color: rgb(0, 175, 239);
    margin-right: 1rem;
}
.fa-loginicon{
    color:rgb(0, 175, 239);
    margin-right: 1rem;
}
.btn{
    background-color: rgb(0, 175, 239);
    color: #fff;
}
.search_icon{
    margin-right: 5px;
}
#login-btn{
    width: 100%;
}

.navbar-nav #home_bar{
    color: rgb(0, 175, 239);
}
#nav-2{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#head1{
    font-size: 12px;
    background-color: rgb(212, 66, 76);
    display: flex;
    justify-content: space-evenly;
}
#head1 span{
    color: #fff;
}
#head1 span:hover{
    cursor: pointer;
    text-decoration: underline;
}
#cardsplay{
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 530px;
}
#info{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
}
#info .card{
    width: 40%;
    height: 70%;
    margin: auto;
    margin-top: 6rem;
    margin-right:2rem ;
}
#info p{
    margin-top: 2rem;
    color: black;
}
#owl_corousel{
    width: 60%;
    height: 100%;
    display:flex;
    /* border: 1px solid black; */
}
.card-title{
    text-align: center;
}
.card a{
    width: 100%;  
}
.card-body p:nth-child(2){
    color: rgb(129, 194, 64);
}
#videocard{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    /* border: 1px solid black; */
}
#videocard div{
    width: 45%;
    /* border: 1px solid black; */
}
.video {
    width: 100%;
    height: 100%;
    margin: auto;
}
iframe{
    width: 80%;
    height: 80%;
    margin-top: 10px;
    border-radius: 1rem;
}
.inform h4{
    text-align: center;
    color: rgb(0, 175, 239);
}
.inform p{
    width: 90%;
    font-size: 20px;
    text-align: justify;
}
.inform .button{
    padding-left: 8rem;
}
#footer_start{
    width: 100%;
    height: 400px;
    background-image:url('https://mamaearthp.imgix.net/wysiwyg/desktop_home_img.png?auto=format');
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}
#footer_start .footInfo{
    margin-left: 45rem;
    text-align: justify;
    text-align: center;
    padding-top: 5rem;
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
}
#footer_start img{
    width: 100%;
    height: 100%;
}
.footNum{
    letter-spacing: 0.36rem;
    color: rgb(129, 194, 64);
}

.knowMore{
    margin-left: 15rem;
    margin-top: 1rem;
    width: 30%;
    height: 50px;
    background-image: url('https://mamaearthp.imgix.net/wysiwyg/desktop_cta2x.png?auto=format');
    background-size: cover;
    /* border: 1px solid black; */
    cursor: pointer;
}
#safeStandard{
    width: 100%;
    margin-top: 1rem;
}
#safeStandard img{
    width: 100%;
}
#last-class{
    width: 100%;
    height: 450px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#card-body{
    height: 100%;
}
#card-body p{
    height: 200px;
}
.card img{
    border-radius: 2pc;
}
#footer{
    width: 100%;
    height: 1000px;
    /* border: 2px solid black; */
}

#footer .box1{
    display: flex;
}
.b1{
    width: 20%;
    text-align: center;
}
.b2{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.fa-truck, .fa-wallet{
    font-size: 40px;
}
.box2 img{
    width: 100%;
}
.box3{
    display: flex;
    justify-content: space-evenly;
}
.box3 img{
    width: 200px;
    height: 300px;
}
.box4{
    text-align: center;
}
.box4 .fa-heart{
    color: rgb(255, 0, 0);
}
.box4 span{
    margin-right: 1rem;
    cursor: pointer;
}
.box5{
    text-align: center;
}