.container-fluid img{
    width: 40%;
}
.form-control{
    width: 30pc;
}
.nav-item{
    padding-left: 5rem;
}
.fa-carticon{
    color: rgb(0, 175, 239);
    margin-right: 1rem;
}
.fa-loginicon{
    color:rgb(0, 175, 239);
    margin-right: 1rem;
}
.btn{
    background-color: rgb(0, 175, 239);
    color: #fff;
}
.search_icon{
    margin-right: 5px;
}
#login-btn{
    width: 100%;
}

.navbar-nav #home_bar{
    color: rgb(0, 175, 239);
}
#nav-2{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#head1{
    font-size: 12px;
    background-color: rgb(212, 66, 76);
    display: flex;
    justify-content: space-evenly;
}
#head1 span{
    color: #fff;
}
#head1 span:hover{
    cursor: pointer;
    text-decoration: underline;
}
#cardsplay{
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 530px;
}
#info{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
}
#info .card{
    width: 40%;
    height: 70%;
    margin: auto;
    margin-top: 6rem;
    margin-right:2rem ;
}
#info p{
    margin-top: 2rem;
    color: black;
}
#owl_corousel{
    width: 60%;
    height: 100%;
    display:flex;
    /* border: 1px solid black; */
}
.card-title{
    text-align: center;
}
.card a{
    width: 100%;  
}
.card-body p:nth-child(2){
    color: rgb(129, 194, 64);
}
#videocard{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    /* border: 1px solid black; */
}
#videocard div{
    width: 45%;
    /* border: 1px solid black; */
}
.video {
    margin: auto;
}
.inform h4{
    text-align: center;
    color: rgb(0, 175, 239);
}
.inform p{
    width: 90%;
    font-size: 20px;
    text-align: justify;
}
.inform .button{
    padding-left: 8rem;
}

