.container-fluid img{
    width: 40%;
}
.form-control{
    width: 30pc;
}
.nav-item{
    padding-left: 5rem;
}
.fa-carticon{
    color: rgb(13, 110, 253);
    margin-right: 1rem;
}
.fa-loginicon{
    color: rgb(13, 110, 253);
    margin-right: 1rem;
}
.btn{
    color: #fff;
}
.search_icon{
    margin-right: 5px;
}
#login-btn{
    width: 100%;
}

.navbar-nav #home_bar{
    color: rgb(0, 175, 239);
}
#nav-2{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}